{% extends 'padre.html' %} 
{% block contenidoQueCambia %}

<h1 class="my-3">Lista de Enfrentamientos</h1>
<main class="container-fluid d-flex flex-row flex-wrap justify-content-around align-items-center">

    
    
    {% for enfrentamiento in listaEnfrentamiento %}

    <div class="enfrentamientos d-flex flex-row flex-wrap justify-content-center align-items-center">
        <h2 class="mx-4 my-4">{{enfrentamiento}}</h2>
        
        <div class="mitadEnfrentamiento d-flex flex-column justify-content-center align-items-between">
            <p>{{enfrentamiento.entrenador1}}</p>
            <img class="mx-4 my-2" src="https://static-cdn.jtvnw.net/jtv_user_pictures/5793095b-97ef-4602-b69d-d7c5052e83ae-profile_image-300x300.png" alt="Entrenador1">
        </div>

        <div class="mitadEnfrentamiento d-flex flex-column justify-content-center align-items-between">
            <p>{{enfrentamiento.entrenador2}}</p>
            <img class="mx-4 my-2" src="https://static-cdn.jtvnw.net/jtv_user_pictures/5793095b-97ef-4602-b69d-d7c5052e83ae-profile_image-300x300.png" alt="Entrenador2">
        </div>
        
        <div class="d-flex flex-column">
            <span class="my-2">Fecha: {{enfrentamiento.fecha_combate}}</span>
            <hr>
            {% if enfrentamiento.ganador %}
                <span class="my-2">El ganador fue: {{enfrentamiento.ganador.nombre}}</span>
            {% endif %}
        </div>
        
            
    </div>

    {% endfor %}
        

</main>

{% endblock contenidoQueCambia %}