<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/pokemon/">Inicio</a>
        <a class="navbar-brand" href="{% url 'ListaPokemon' %}">Pokemon</a>
        <a class="navbar-brand" href="{% url 'FormularioPokemon' %}">Crear Pokemon</a>
        <a class="navbar-brand" href="{% url 'ListaEntrenador' %}">Entrenadores</a>
        <a class="navbar-brand" href="{% url 'FormularioEntrenador' %}">Crear Entrenador</a>
        <a class="navbar-brand" href="{% url 'ListaEnfrentamiento' %}">Enfrentamientos</a>
        <a class="navbar-brand" href="{% url 'FormularioEnfrentamiento' %}">Crear Enfrentamientos</a>
    </div>
</nav>